@charset "utf-8";
/* CSS Document */
.jumbotron {
	background: linear-gradient(to left,#FF4B0D, #fe8c00, #f7b733, #f7b733, #fe8c00, #FF4B0D);
	text-decoration-color: white;
}

/* Footer */
.footer{
	background: linear-gradient(to left,#FF4B0D, #fe8c00, #f7b733, #f7b733, #fe8c00, #FF4B0D);
	width:100%;
}

/* Animated Background*/
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #231f20;
	/*background: linear-gradient(to top, Grey, black);*/
}

.banner-text{
	width:100%;
	position:absolute;
}

.banner-text ul{
	height: 50px;
	float: right;
}
.banner-text ul li{
	display: inline-block;
	padding: 40px 15px;
	text-transform: #fff;
	font-size: 70px;
}
.banner-text h2{
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top:20%;
}

.animation-arena{
	/*background: linear-gradient(to top, #f83600, #fe8c00, #f7b733, #fe8c00);*/
	background: linear-gradient(to top, #E6E6E6, #FFFFFF, #E6E6E6, #FFFFFF, #E6E6E6);
	width: 100%;
	height: 100%;
	
}

.box-area{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.box-area li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height:25px;
	background: rgba(255,255,255,0.2);
	animation: animate 20s linear infinite;
	bottom: -400px;
}

.box-area li:nth-child(1){
	top: 2%;
	left: 86%;
	width: 210px;
	height: 30px;
	animation-delay: 0s;
}

.box-area li:nth-child(2){
	top: 10%;
	left: 12%;
	width: 240px;
	height: 80px;
	animation-duration: 10s;
}

.box-area li:nth-child(3){
	top: 30%;
	left: 93%;
	width: 150px;
	height: 30px;
	animation-delay: 0s;
	animation-duration: 15s;	
}

.box-area li:nth-child(4){
	top: 25%;
	left: 93%;
	width: 150px;
	height: 30px;
	animation-delay: 0s;
	animation-duration: 15s;	
}
.box-area li:nth-child(5){
	top: 130%;
	left: 21%;
	width: 120px;
	height: 20px;
	animation-delay: 1.5s;
}

.box-area li:nth-child(6){
	top: 300%;
	left: 65%;
	width: 200px;
	height: 40px;
	animation-delay: 0s;
}

@keyframes animate{
	0%{
		transform: translateX(0) opacity(0);
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		transform: translateX(-800px);
		opacity: 0;
	}
}